{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-4">
    <img class="rounde mx-auto d-block" width="30%" height="30%" src="{% static 'images/mips_jeans.png' %}"/>
</div>
<div class="container my-3">
    <p id="title" class="text-center">Visualize C code with CA tutor</p>
</div>
<div class="container my-3">
    <p class="text-center content">Detailed, fast, and simple Mips ISA Simulator. <br>
        Write your code, get deep understanding <br>
        of registers and memory change step-by-step.
    </p>
</div>
<br>
<div class="d-flex justify-content-center">
    <a href="https://github.com/judemario-kim/ca-tutor" target="_blank"><button type="button" class="btn btn-lg btn-secondary mx-5 index-btn"><i class="fa-brands fa-github icon-github"></i>&nbsp;&nbsp;Our Github</button></a>
    <a href="{% url 'ca_tutor:code' %}"><button type="button" class="btn btn-lg btn-dark mx-5 index-btn">Get Started</button></a>
</div>
<input type="hidden" id="io" value={{ hash_value }}>
<script type='text/javascript'>
    window.onload=function(){
        if (document.cookie.match('io=([^;]*)') == null){
            io_value = document.getElementById("io").value;
            console.log(io_value);
            cookies = "io=" + escape(io_value) + '; path=/ ';
            console.log('io cookie create');
            document.cookie = cookies;
        }
    }
</script>
{% endblock %}